.website-logo{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 30%;
    width: 30%;
}

.container{
    margin-top: 25px;
}